html{
    height: 100%;
}
body{  
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
}
header{
    background-color: yellow;
    display: grid;
    grid-template-columns: auto 1fr;
}
ul{
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: repeat(3, auto);
}

.slider{
    background-color: darkmagenta;
}

article{
    background-color: hotpink;
}
footer{
    background-color: blue;
    bottom: 0;
}
